<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <title>Fribbble</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
  </head>

  <body>
    {% if session.username %}

    <header class="topbar">
      <form method="get" action="/" class="search-form">
        <input
          type="text"
          name="q"
          placeholder="Search by title"
          value="{{ search_query or '' }}"
        />
        <button type="submit">Search</button>
      </form>
      <nav class="topbar-links">
        <a href="/new_picture" class="topbar-button">New Picture</a>
        <a href="/logout" class="topbar-button">Sign Out</a>
      </nav>
    </header>

    <h2>Pictures</h2>

    {% if pictures %}
    <div class="card-grid">
      {% for pic in pictures %}
      <a class="picture-card" href="/picture/{{ pic.id }}">
        {% if pic.image_path %}
        <img
          src="{{ pic.image_path }}"
          alt="{{ pic.title }}"
          class="card-image"
        />
        {% endif %}
        <div class="card-content">
          <h3>{{ pic.title }}</h3>
          <p class="style">{{ pic.style }}</p>
        </div>
      </a>
      {% endfor %}
    </div>
    {% else %}
    <!-- <p>No pictures yet. <a href="/new_picture">Add one</a></p> -->

    <p class="no-pictures-message">
    No pictures yet. <a href="/new_picture">Add one</a> to get started!
    </p>
    {% endif %} {% else %}
    <!-- <p><a href="/login">Kirjaudu sisään</a></p>
    <p><a href="/register">Luo tunnus</a></p> -->
    <div class="auth-links">
    <a href="/login" class="auth-button">Kirjaudu sisään</a>
    <a href="/register" class="auth-button register">Luo tunnus</a>
    </div>
    {% endif %}
  </body>
</html>
