<!DOCTYPE html>
<html>

<head>
  <title>New picture</title>
</head>

<body>
    <h1>New picture</h1>
  <form action="/create_picture" method="post">
    <p>
        Picture: <br />
        <input type="text" name="name" />
    </p>
    <p>
        Desctiption: <br />
        <textarea name="description" rows="8" cols="50"></textarea>
    </p>
    <p>
        Style: <br />
        <input type="text" name="style" />
    </p>

    <input type="submit" value="Create picture" />
  </form>
</body>

</html>